
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<div id="tableCont">
    @{
        Html.RenderAction("ProdcutTable");
        //Html.RenderAction("Create");
    }
    </div>
<div id="actionCont">

</div>